:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --grey500: hsl(234, 12%, 34%);
    --grey400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 0.9375rem;
    background-color: var(--white);
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    margin: 4.625rem auto;
}

.section {
    position: relative;
    max-width: 350px;
    min-height: 250px;
    background: var(--white);
    border-radius: 8px;
    padding: 2rem;
    text-align: left;
    box-shadow: 0 20px 30px rgba(0,0,0,0.1);
}

@media (max-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .middle {
        flex-direction: row;
    }
}
@media (min-width: 1200px) {
    .container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        align-items: center;
    }
}

.middle {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.left .section { 
    border-top: 4px solid var(--cyan); 
}

.middle .section:first-child {
    border-top: 4px solid var(--red); 
}

.middle .section:last-child { 
    border-top: 4px solid var(--orange); 
}

.right .section { 
    border-top: 4px solid var(--blue); 
}

.section img {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    width: 64px;
}

.main h1 {
    color: var(--grey500);
    font-size: 2.25rem;
    line-height: 140%;
    font-weight: 200;
    letter-spacing: 0.25px;
}
.main h2 {
    color: var(--grey500);
    font-size: 2.25rem;
    line-height: 140%;
    font-weight: 600;
    letter-spacing: 0.25px;
    margin-bottom: 1rem;
}
.main p {
    color: var(--grey500);
    font-size: 0.9375rem;
    line-height: 140%;
    font-weight: 400;
    letter-spacing: 0.1px;
}
.section p {
    color: var(--grey400);
    font-size: 0.8125rem;
    line-height: 160%;
    font-weight: 400;
    letter-spacing: 0px;
}
.section h3 {
    color: var(--grey500);
    font-size: 1.25rem;
    line-height: 135%;
    font-weight: 600;
    letter-spacing: 0px;
}